
.EVSE_available {
    background-image:   linear-gradient(to bottom, #B3DB92, #73B53E);
    Content:            "Available";
    font-size:          75%;
    padding:            4px 6px;
    border-radius:      4px;
    text-align:         center;
}

.EVSE_reserved {
    background-image:   linear-gradient(to bottom, #FFE07F, #E2C264);
    Content:            "Reserved";
    font-size:          75%;
    padding:            4px 6px;
    border-radius:      4px;
    text-align:         center;}

.EVSE_occupied {
    background-image:   linear-gradient(to bottom, #E87D7D, #BD3535);
    Content:            "Occupied";
    font-size:          75%;
    padding:            4px 6px;
    border-radius:      4px;
    text-align:         center;
}

.EVSE_unknown {
    background-image:   linear-gradient(to bottom, #cdcdcd, #b3b3b3);
    Content:            "Unknown";
    font-size:          75%;
    padding:            4px 6px;
    border-radius:      4px;
    text-align:         center;
}